select#deposito-nac(name="deposito", class="form-select cursor-pointer my-3")
    option(value="", selected, disabled) Selecciono deposito nacional 
    each deposito in depositosNac 
        option(value=deposito.id) #{deposito.nombre} 